/* CSS Document */

/*==========================================*/
/*           Color Schemes
/*==========================================*/
/*==========================================*/
/*       01 - Global Elements
/*==========================================*/
html,
body {
  color: #888888;
}
html h1,
body h1,
html h2,
body h2,
html h3,
body h3,
html h4,
body h4,
html h5,
body h5 {
  color: #333333;
}
a {
  color: #93be4c;
}
a:hover {
  color: #93be4c;
}
/*==========================================*/
/*       02 - Navbar Elements
/*==========================================*/
.navbar-inverse.scroll-fixed-navbar .navbar-nav li:hover a {
  color: #93be4c;
}
.navbar-inverse.scroll-fixed-navbar .navbar-nav li.active a {
  color: #93be4c;
}
.navbar-inverse.scroll-fixed-navbar .navbar-nav li.active a:hover {
  color: #93be4c;
}
/*==========================================*/
/*       03 - Banner Elements
/*==========================================*/
.banner .banner-content .buttons .def-btn:hover {
  color: #888888;
}
/*==========================================*/
/*           04 - Intro Elements
/*==========================================*/
.intro {
  background: #93be4c;
}
.intro .link .def-btn:hover {
  color: #93be4c;
}
/*==========================================*/
/*         05 - About Elements
/*==========================================*/
.about .content .icon i {
  color: #93be4c;
}
/*==========================================*/
/*        06 - Testimonial Elements
/*==========================================*/
.testimonial .carousel .carousel-control .control-circle:hover {
  border: 1px solid #93be4c;
}
.testimonial .carousel .carousel-control .control-circle:hover .fa {
  color: #93be4c;
}
/*==========================================*/
/*        07 - Team Elements
/*==========================================*/
.team {
  padding: 80px 0px;
}
.team .content .team-info .photo .overlay {
  background: rgba(147, 190, 76, 0.8);
}
.team .content .team-info .photo .overlay .link .circle:hover {
  color: #93be4c;
}
/*==========================================*/
/*        08 - counter Elements
/*==========================================*/
/*==========================================*/
/*        09 - portfolio Elements
/*==========================================*/
.portfolio .portfoliofilter a .filterbutton {
  color: #888888;
}
.portfolio .portfoliofilter a.current .filterbutton {
  background: #93be4c;
  border: 1px solid #93be4c;
}
.portfolio .portfoliofilter a:hover .filterbutton {
  border: 1px solid #93be4c;
  color: #93be4c;
}
.portfolio .portfoliocontent .content .overlay:hover {
  background: rgba(147, 190, 76, 0.8);
}
/*==========================================*/
/*        10 - Why Us Elements
/*==========================================*/
.why-us .skills .skillbars .bar-container .meter {
  background: #93be4c;
}
/*==========================================*/
/*        11 - Pricing Elements
/*==========================================*/
.pricing .pricing-table .price {
  background: #93be4c;
}
.pricing .pricing-table .list .def-btn {
  border: 1px solid #93be4c;
  border-color: #93be4c;
  color: #93be4c;
}
.pricing .pricing-table .list .def-btn:hover {
  background: #93be4c;
}
/*==========================================*/
/*        12 - Offer Elements
/*==========================================*/
/*==========================================*/
/*        13 - Twitter Feed Elements
/*==========================================*/
.twitter-feed .logo i {
  color: #93be4c;
}
.twitter-feed .time a {
  color: #888888;
}
/*==========================================*/
/*        14 - News Elements
/*==========================================*/
.news .news-content .media .quote {
  background: #93be4c;
}
.news .news-content .detail .title h3 {
  color: #93be4c;
}
/*==========================================*/
/*        15 - Clients Elements
/*==========================================*/
/*==========================================*/
/*        16 - Map Elements
/*==========================================*/
.map .map-title {
  background: #93be4c;
}
/*==========================================*/
/*        17 - contact Elements
/*==========================================*/
.contact .footer-form .input-container .form-control:focus {
  border: 1px solid #93be4c;
}
.contact .footer-form .textarea-container textarea:focus {
  border: 1px solid #93be4c;
}
.contact .footer-form .button-container .def-btn {
  border: 1px solid #93be4c;
  color: #93be4c;
}
.contact .footer-form .button-container .def-btn:hover {
  background: #93be4c;
}
/*==========================================*/
/*       18 - Footer Elements
/*==========================================*/
.footer {
  background-color: #93be4c;
}
.footer .right .social-icons .circle:hover .fa {
  color: #93be4c;
}
/*==========================================*/
/*       19 - Responsive Settings
/*==========================================*/
@media (max-width: 768px) {
  .navbar-inverse .navbar-toggle {
    border: 1px solid #93be4c;
    margin: 23px 10px;
  }
  .navbar-inverse .navbar-toggle span.icon-bar {
    background: #93be4c;
  }
  .navbar-inverse .navbar-toggle:focus,
  .navbar-inverse .navbar-toggle:hover {
    background: #93be4c;
  }
  .navbar-inverse .navbar-collapse ul.navbar-nav li.active {
    color: #93be4c;
  }
  .navbar-inverse .navbar-collapse ul.navbar-nav li a {
    color: #888888;
  }
  .navbar-inverse .navbar-collapse ul.navbar-nav li a:hover {
    background: #93be4c;
  }
}
